body,html{
    height:100%;
    padding:0;
    margin: 0;
}
h2{
    padding: 0;
    margin-left: 33px;
    font-size: 27px;
}
#app{
    height: 100%;
    background-image: url(../imgs/body_bg.png);
    position: relative;
}
/* 百分百居中，用自绝父相，将方位全部设为0，用maigin：auto；来设置 */
#login {  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 339px;
    margin: auto;
    width: 373px;
    background-color: #fff;
}
.demo-ruleForm{
    width: 333px;
}

