<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>华联超市管理系统登陆页面</title>
    <!-- 注意是字体的文件是和引入的css是同一级目录 -->
    <link rel="stylesheet" href="./libs/elementui/elementui.min.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="./libs/vue/vue.min.js"></script>
    <script src="./libs/elementui/elementui.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="login">
            <el-form :model="myform" status-icon :rules="rules" ref="myform" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户名" prop="name">
                    <el-input type="text" v-model="myform.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="Pass">
                    <el-input type="text" v-model="myform.Pass" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="checkpass">
                    <el-input v-model="myform.checkpass"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('myform')">提交</el-button>
                    <el-button @click="resetForm('myform')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>


    <script>
        new Vue({
            el: "#app",
            data() {
                var validatePass = (rule, value, callback) => {
                    if (value === '') {
                    callback(new Error('请再次输入密码'));
                    } else if (value !== this.myform.Pass) {
                    callback(new Error('两次输入密码不一致!'));
                    } else {
                    callback();
                    }   
                };
                
                return {
                    myform: {
                        name: '',
                        Pass: '',
                        checkpass: ''
                    },
                    rules: {
                        name: [
                        { required: true, message: '请输入用户名', trigger: 'blur' },
                        { min: 6, max: 8, message: '长度在 6 到 8 个字符', trigger: 'blur' }
                        ],
                        Pass: [
                        { required: true, message: '情输入密码', trigger: 'blur' },
                        { min: 6, max: 8, message: '长度在 6 到 8 个字符', trigger: 'blur' }
                        ],
                        checkpass: [
                            {validator: validatePass, required:true,trigger: 'blur'  }
                        ]
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            alert('submit!');
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        
        })


    </script>
</body>

</html>